<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    {% block head %}
    {%endblock%}
</head>

<body>
    <div id='content'>
        <header>
            <div id="globalhome"><a href="{{url_for('hello')}}">Home</a></div>
            
            <a href="{{url_for('logout')}}">Logout</a>
            
            <a href="{{url_for('login')}}">Login</a>
            
            {%block header%}{%endblock%}
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {%block content%}
        {%endblock%}
    </div>
</body>

</html>