{%extends "layout.html"%}

<html lang="en">
<head>
{%block head%}

  <title>Roles</title>
{%endblock%}

</head>

<body>
    {%block content%}
<h1>Roles</h1>
<br>
<a href=/addrole><button>Add new role</button></a>
<table>
<tr>
    <td>Role name</td>
</tr>
{% for item in data %}
<tr>
    <td>{{item[1]}}</td>
    <td><form action='/editrole/{{item[0]}}'><input type='submit' value="Edit"></form></td>
    <td><form action='/delrole/{{item[0]}}'><input type='submit' value="Delete"></form></td>
</tr>
{% endfor %}
</table>
{%endblock%}
</body>
</html>