{%extends "layout.html"%}

<html lang="en">
<head>
{%block head%}

  <title>Users</title>
{%endblock%}

</head>

<body>
    {%block content%}
<h1>Users</h1>
<br>
<a href=/adduser><button>Add new user</button></a>
<table>
<tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Email</td>
    <td>Role</td>
</tr>
{% for item in data %}
<tr>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
    <td><form action='/edituser/{{item[0]}}'><input type='submit' value="Edit"></form></td>
    <td><form action='/deluser/{{item[0]}}'><input type='submit' value="Delete"></form></td>
</tr>
{% endfor %}
</table>
{%endblock%}
</body>
</html>